.Whiteboard {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  display: block;
  padding: 4.3rem 4.5rem 0 0;
  position: relative;
}
.Whiteboard-Toolbar {
  width: 5rem;
  height: 100%;
  background-color: var(--platform-bg-grey);
  top: 30px;
  position: absolute;
  padding-top: 4.5rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.Whiteboard-ToolIcon {
  width: 1.5rem;
}
.Whiteboard-Tool {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 1.6rem;
  position: relative;
}
.Whiteboard-Tool_Wrapper:after {
  content: "";
  position: absolute;
  display: block;
  right: 0.6rem;
  top: 2rem;
  width: 0.5rem;
  height: 0.8rem;
  background-image: url(../svg/whiteboard/more.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.Whiteboard-Tool:hover {
  filter: brightness(0.7);
}
.Whiteboard-InnerTools {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 45px;
  height: 100%;
  background-color: aqua;
  padding: 0;
  background: transparent;
}
.Whiteboard-Tool:hover .Whiteboard-InnerTools {
  display: flex;
}
.Whiteboard-Steps {
  position: absolute;
  top: 5.5rem;
  left: 7rem;
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.Whiteboard-Step {
  width: 1.6rem;
  cursor: pointer;
}
.Whiteboard-Step:hover {
  filter: brightness(0.7);
}
.Whiteboard-Canvas {
    position: absolute;
    left: 5rem;
    top: 4.3rem;
    background-color: #fff;
    width: calc(100% - 5rem);
    height: calc(100% - 4.3rem);
}
.Whiteboard_top_panel {
  float: left;
  margin-top: 43px;
  width: 100%;
  background-color: #F5F5F5;
  height: 25px;
}
.modal-wrapper__music{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  padding: 10rem 0 0 0;
  overflow: auto;
}
.platform-modal__music{
  display: block;
  max-width:45rem !important;
  position: relative;
  margin: 0 auto;
  right: 250px;
}
.modal-header__music {
  border-radius: 3px 3px 0 0;
  color: #515365;
  font-size: 16px;
  width:133.5%;
  padding: 1.5rem;
  position: relative;
  border: 1px solid #E6ECF5;
  font-weight: bold;
  font-size: 16px;
}
.close {
  float: right;
  text-decoration: none;
  
  
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body__music {
  background-color: #fff;
  width: 600px;
  border: 1px solid #E6ECF5;
  border-top: none;
}
.platform-modal__body3 {
  height: 295px;
  padding: 1.5rem;
  position: relative;
  width: 584px;
  
}
.modal-body_container {
  position: relative;
  right: 15px;
  bottom: 16px;
  float: left;
  margin: 0 auto;
  width: 600px;
  height: 230px;
  border-bottom: 1px solid #E6ECF5;
}
.modal-body__upload-browser {
  float: left;
  width: 300px;
  height: 100%;
cursor: pointer;
border-right: 1px solid #E6ECF5;
}
.modal-body__upload-browser:hover {
background-color: rgba(229, 237, 245, 0.2);;
}
.modal-body__upload-library {
  float: left;
  width: 300px;
  height: 100%;
cursor: pointer;
}
.modal-body__upload-library:hover {
background-color: rgba(229, 237, 245, 0.2);;
}
.modal-body__upload-icon {float: left;margin-left: 134px;margin-top: 50px}
.upload-icon {width:25px ;height: 25px;;}
.modal-body__upload-text {float: left;margin-left: 75px;margin-top: 50px}
.upload-text  {font-size: 14px; font-weight: bold;color: #515365;}
.modal-body__allowed {
  float: left;
  width: 583px;
  height: 25px;
  text-align: center
}
.allowed-text {font-size: 12px}
.allowed-list {margin-left: 25px}
.modal-wrapper__video{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  padding: 10rem 0 0 0;
  overflow: auto;
}
.platform-modal__video{
  display: block;
  max-width:45rem !important;
  position: relative;
  margin: 0 auto;
  right: 250px;
}
.modal-header__video {
  border-radius: 3px 3px 0 0;
  color: #515365;
  font-size: 16px;
  width:133.5%;
  padding: 1.5rem;
  position: relative;
  border: 1px solid #E6ECF5;
  font-weight: bold;
  font-size: 16px;
}
.modal-body__video{
  background-color: #fff;
  width: 600px;
  border: 1px solid #E6ECF5;
  border-top: none;
}
.modal-wrapper__image{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  padding: 10rem 0 0 0;
  overflow: auto;
}
.platform-modal__image{
  display: block;
  max-width:45rem !important;
  position: relative;
  margin: 0 auto;
  right: 250px;
}
.modal-header__image{
  border-radius: 3px 3px 0 0;
  color: #515365;
  font-size: 16px;
  width:133.5%;
  padding: 1.5rem;
  position: relative;
  border: 1px solid #E6ECF5;
  font-weight: bold;
  font-size: 16px;
}
.platform-modal__body-image {
  height: 228px;
  padding: 1.5rem;
  position: relative;
  background-color: #fff;
  width: 600px;
  border: 1px solid #E6ECF5;
  border-top: none;
  border-bottom: none;
}
.modal-wrapper__document{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  padding: 10rem 0 0 0;
  overflow: auto;
}
.platform-modal__document{
  display: block;
  max-width:45rem !important;
  position: relative;
  margin: 0 auto;
  right: 250px;
}
.modal-header__document{
  border-radius: 3px 3px 0 0;
  color: #515365;
  font-size: 16px;
  width:133.5%;
  padding: 1.5rem;
  position: relative;
  border: 1px solid #E6ECF5;
  font-weight: bold;
  font-size: 16px;
}
.modal-body__document{
  background-color: #fff;
  width: 600px;
  border: 1px solid #E6ECF5;
  border-top: none;
}